<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.brigham.cs4962.basicpaint">

	<application
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:name="com.brigham.cs4962.basicpaint.PaintActivity"
			android:label="@string/app_name"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.brigham.cs4962.basicpaint.BaseActivity"
			android:label="@string/title_activity_base"
			android:launchMode="singleInstance" />
		<activity
			android:name="com.brigham.cs4962.basicpaint.WatchActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/title_activity_watch"
			android:launchMode="singleTop" />
		<activity
			android:name="com.brigham.cs4962.basicpaint.PaletteActivity"
			android:label="@string/title_activity_palette"
			android:launchMode="singleTop" />
	</application>

</manifest>
